.line-chart .x-axis-g .tick:first-of-type text {
  text-anchor: start;
}

.line-chart .x-axis-g .tick:last-of-type text {
  text-anchor: end;
}

.line-chart .axis .tick line {
  stroke: #e0e0e0;
}

.line-chart .axis .domain {
  stroke: #e0e0e0;
}