.DateInput_input{
  font-family: DinProRegular, sans-serif;
  font-size: 13px;
   padding: 5px 5px 0px;
   line-height: 21px
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover{
  background: #588D92;
  border: 1px double #588D92
}
  .DateRangePickerInput_calendarIcon{
  padding: 5px
}
.DateRangePicker{
  margin: 0px 20px 0 15px;
}
.CalendarMonth{
  font-family: DinProRegular, sans-serif;
}
.DateInput__small{
  width: 76px !important;
}
.DateRangePicker_picker {
  width: 650px;
  background-color: transparent;
}