.type-global-nav {
  font: 14px OpenSansRegular, sans-serif;
  text-transform: uppercase;
}

.type-nav-app-group {
  font: 18px OpenSansRegular, sans-serif;
  text-transform: uppercase;
}

.type-app-header {
  font: 22px OpenSansRegular, sans-serif;
  text-transform: uppercase;
}