.ag-theme-balham  .ag-header-cell-label{
  float: none !important;
  width: auto !important;
  justify-content: center;
}
.ag-theme-balham .ag-header-cell-menu-button{
  position: absolute;
  float: none;
}
.ag-theme-balham .ag-header{
  background-color:#588D92;
  color: #fff !important;
}
.ag-theme-balham .ag-paging-panel {
  color: #588D92;
  justify-content: center !important;
}
.ag-theme-balham .highlightRow{
  background-color: #f4a460 !important;
}
.odd-shaded-effect{
  background: #588D92 ;
}

.cell-border-style{
  border-top-color: rgb(238, 238, 238);
  border-top-style: solid;
  border-top-width: 0px;
  border-right-color: rgb(238, 238, 238);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(238, 238, 238);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-align: center;
}

.ag-theme-balham .ag-icon-asc{
  background: url('../../../../public/images/svg/asc.svg') no-repeat;
  background-position-y: center;
}

.ag-theme-balham .ag-icon-desc{
  background: url('../../../../public/images/svg/desc.svg') no-repeat;
  background-position-y: center;
}
.cell-wrap-text{
  text-align: left
}
.overAllIncentiveTier, .quartile {
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-right: 3px;
}
.overAllIncentiveTier_1, .quartile_1 {
  background-color: #588d92;
 }
.overAllIncentiveTier_2, .quartile_2 {
  background-color: #a39161;
}
.overAllIncentiveTier_3, .quartile_3 {
  background-color: #dc6449;
 }
.overAllIncentiveTier_4, .quartile_4 {
  background-color: #7a5f6e;
 }
 .ag-theme-balham .ag-row.ag-row-last{
   border-bottom-width: 0px;
 }